#main {
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: blueviolet;
}

#main .row {
    flex-basis: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
}

#socials {
    display: flex;
    flex-basis: 50%;
}